@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 226, 232, 240;
  --background-rgb: 30, 41, 59;
}

main {
  padding: 0 3rem;
  max-width: 50rem;
}

body {
  @apply bg-slate-800 text-slate-50;
}
